USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[QKJY]    Script Date: 2020/10/12 16:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QKJY](
	[QKCP_ID] [char](20) NULL,
	[DZ_ID] [char](15) NULL,
	[JY_DATE] [date] NULL,
	[GH_DATE] [date] NULL,
	[Admin_JY] [char](15) NULL,
	[Admin_GH] [char](15) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QKJY]  WITH CHECK ADD  CONSTRAINT [DZ_F2key] FOREIGN KEY([DZ_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[QKJY] CHECK CONSTRAINT [DZ_F2key]
GO
ALTER TABLE [dbo].[QKJY]  WITH CHECK ADD  CONSTRAINT [QK_F1key] FOREIGN KEY([QKCP_ID])
REFERENCES [dbo].[QK_CP] ([QKCP_ID])
GO
ALTER TABLE [dbo].[QKJY] CHECK CONSTRAINT [QK_F1key]
GO
