USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[QK_CP]    Script Date: 2020/10/12 16:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QK_CP](
	[QKCP_ID] [char](20) NOT NULL,
	[QK_ID] [int] NOT NULL,
	[QK_Status] [tinyint] NOT NULL,
 CONSTRAINT [QKCP_key] PRIMARY KEY CLUSTERED 
(
	[QKCP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QK_CP]  WITH CHECK ADD  CONSTRAINT [CP_F2key] FOREIGN KEY([QK_ID])
REFERENCES [dbo].[QK] ([QK_ID])
GO
ALTER TABLE [dbo].[QK_CP] CHECK CONSTRAINT [CP_F2key]
GO
