USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[QKLB]    Script Date: 2020/10/12 16:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QKLB](
	[QKLB_ID] [char](20) NOT NULL,
	[QKLB_MC] [char](15) NOT NULL,
 CONSTRAINT [QKLB_key] PRIMARY KEY CLUSTERED 
(
	[QKLB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
