USE [BookStoreDB]
GO
/****** Object:  StoredProcedure [dbo].[p_allbookselllist2]    Script Date: 2020/10/12 16:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[p_allbookselllist2]
as
select ID 销售单号,QKCP_ID 期刊副本号,JQ 价钱,LS_DATE 销售日期,Admin 经手人,Tips 备注
from QKLS
GO
