USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[TS_CP]    Script Date: 2020/10/12 16:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_CP](
	[TSCP_ID] [char](20) NOT NULL,
	[TS_ID] [int] NOT NULL,
	[TS_Status] [tinyint] NOT NULL,
 CONSTRAINT [TSCP_key] PRIMARY KEY CLUSTERED 
(
	[TSCP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TS_CP]  WITH CHECK ADD  CONSTRAINT [CP_F1key] FOREIGN KEY([TS_ID])
REFERENCES [dbo].[TS] ([TS_ID])
GO
ALTER TABLE [dbo].[TS_CP] CHECK CONSTRAINT [CP_F1key]
GO
