USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[TS]    Script Date: 2020/10/12 16:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS](
	[TS_ID] [int] NOT NULL,
	[TS_MC] [char](30) NOT NULL,
	[TSLB_ID] [char](20) NOT NULL,
	[TS_Code] [char](20) NOT NULL,
	[Author] [char](20) NOT NULL,
	[Press] [char](30) NOT NULL,
	[JQ] [decimal](6, 2) NULL,
	[CB_DATE] [date] NULL,
	[DJ_DATE] [date] NULL,
 CONSTRAINT [TS_key] PRIMARY KEY CLUSTERED 
(
	[TS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TS]  WITH CHECK ADD  CONSTRAINT [TSLB_F1key] FOREIGN KEY([TSLB_ID])
REFERENCES [dbo].[TSLB] ([TSLB_ID])
GO
ALTER TABLE [dbo].[TS] CHECK CONSTRAINT [TSLB_F1key]
GO
