USE [BookStoreDB]
GO
/****** Object:  StoredProcedure [dbo].[p_useriddzlist]    Script Date: 2020/10/12 16:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[p_useriddzlist](@id char(20))
as
select USR_ID 借书证号,Name 姓名,Sex 性别,ID_Card 身份证号,Password 密码,Phone 联系电话,DJ_DATE 登记日期
	from USR
	where USR_ID=@id and Type=0
GO
