USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[TSJY]    Script Date: 2020/10/12 16:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSJY](
	[TSCP_ID] [char](20) NULL,
	[DZ_ID] [char](15) NULL,
	[JY_DATE] [date] NULL,
	[GH_DATE] [date] NULL,
	[Admin_JY] [char](15) NULL,
	[Admin_GH] [char](15) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TSJY]  WITH CHECK ADD  CONSTRAINT [DZ_F1key] FOREIGN KEY([DZ_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[TSJY] CHECK CONSTRAINT [DZ_F1key]
GO
ALTER TABLE [dbo].[TSJY]  WITH CHECK ADD  CONSTRAINT [TS_F1key] FOREIGN KEY([TSCP_ID])
REFERENCES [dbo].[TS_CP] ([TSCP_ID])
GO
ALTER TABLE [dbo].[TSJY] CHECK CONSTRAINT [TS_F1key]
GO
